<!-- Projects Section-->
<section class="py-5">
  <div class="container p-5 mb-5">
      <div class="text-center mb-5">
          <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Catálogo</span></h1>
      </div>
      <div class="d-grid gap-3 d-sm-flex justify-content-center mb-3">
        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="#proyectos">Ver Catálogo</a>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
          @if(images && images.length) {
            @for (image of images; track image) {
              <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="card-body p-0 d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="container d-flex justify-content-center align-items-center">
                        <div class="row p-3 d-flex justify-content-center align-items-center">
                          <div class="col-12 col-md-6 order-2 order-md-1">
                            <h2 class="fw-bolder">Óleo sobre lienzo</h2>
                            <p class="lh-base">
                              Descripción del cuadro. Para más información contactar con el artista.
                            </p>
                            <p class="fw-bold mt-3"></p>
                          </div>
                          <div class="col-12 col-md-6 order-1 order-md-2 d-flex justify-content-center align-items-center my-4">
                            <img class="img-fluid rounded" [src]="image" alt="..." />
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            } @empty {
              There are no items.
              }
          }
        </div>
      </div>
  </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="display-4 fw-bolder mb-4">Vamos a crear una obra de arte</h2>
          <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="#contacto">Contáctame</a>
      </div>
  </div>
</section>

